<button (click)="onUserChoosed()" type="submit" class="btn btn-primary">UserChoosed</button>

  

<table class="table mt-5">
  <thead>
    <tr>
      <th scope="col">Tuerchens</th>
      <th scope="col">Kalender1</th>
      <th scope="col">Kalender2</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let mitarbeiter of kalenderliste; let i=index">
      <th scope="row">{{ i + 1 }}</th>
      <td>{{ mitarbeiter.KalenderA }}</td>
      <td>{{ mitarbeiter.KalenderB }}</td>
    </tr>
  </tbody> 
</table>



